{% extends 'base.html.twig' %}

{% block title %}Edit BooksLoans{% endblock %}

{% block body %}
    <h1>Edit BooksLoans</h1>

    {{ include('books_loans/_form.html.twig', {'button_label': 'actualizar'}) }}

    <a href="{{ path('book_show', {'id':id_book}) }}">regresar</a>

    {{ include('books_loans/_delete_form.html.twig') }}
{% endblock %}
